<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-users'"></app-page-header>
    <a [routerLink]="['./userlist']" routerLinkActive="active" class="btn btn-primary">User List</a>
    <a [routerLink]="['./viewuser']" routerLinkActive="active" class="btn btn-primary">View User</a>
    <a [routerLink]="['./deleteuser']" routerLinkActive="active" class="btn btn-primary">Delete User</a>
    <hr>
  <div class="page">
    <router-outlet></router-outlet>
   </div>
   
</div>
